body {
    background-color: #989898;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora{
    width: min(100%, 365px);
    max-height: 100vh;
    aspect-ratio: 7 / 11;

    border-radius: 20px;
    background-color: #989898;
}

.display{
    background-color: #393838;
    color: white;
    text-align: right;
    padding: 20px;
    border-radius: 14px;
    font-size: 20px;
    font-style: Arial;
}

.teclado{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    
}
.boton:hover{
    color: rgb(170, 169, 169);
    background-color: #1e1d1d ;
}
.boton{
    background-color: #393838;
    border:#ed9874;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: clamp(8px, 3vw, 20px);
    font-size: clamp(25px, 5vw, 50px);
    cursor: pointer;
    border: 2px solid rgb(50, 50, 50);
}
.operacion{
  color: orange;

}
.igual{
    color: orange;
}

.accion{
    color: orange;
}